NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
STRIPE_SECRET_KEY=sk_test_your_secret_key
CONTROL_CENTER_USERNAME=your_admin_username
CONTROL_CENTER_PASSWORD=your_admin_password
CONTROL_CENTER_ACCESS_TOKEN=replace_with_a_long_random_secret_token
